.Header {
  position: absolute;
  width: 100%;
  display: flex;
  height: 130px;
}

.Header__logo {
  width: 190px;
  margin-top: 40px;
  margin-left: 450px;
}

.logo {
  width: 180px;
}

.Nav-left {
  align-items: center;
  margin: 0px 30px;
  display: flex;
  width: 120px;
  height: 100%;
}

.Nav__link {
  margin-left: 40px;
  display: inline;
}

.Nav__img {
  width: 20px;
}

.Nav__title {
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}

.Nav-right {
  margin: 0 0 0 410px;
  display: flex;
  height: 100%;
  align-items: center;
}

.Nav__account {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  // color: rgb(253, 230, 230);
  color: #fff;
  font-size: 13px;
  margin-right: 30px;
  text-decoration: none;
  position: relative;

  padding: 30px 0;
}

.Nav__account:hover .dropdown {
  display: block;
}
.Nav__account:active .dropdown {
  display: block;
}

.dropdown {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 100%;
  display: none;
  text-align: center;
  // padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  // margin-top: 10px;
  z-index: 1;
  padding-top: 20px;
}

.dropdown__item {
  width: 160px;
  height: 30px;
  display: block;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 12px;
}

@media (width: 1920px) {
  .Header {
    justify-content: space-around;
  }
}

@media (max-width: 375px) {
  .Header {
    position: absolute;
    width: 100%;
    justify-content: center;
  }

  .Header__logo {
    width: 140px;
    margin-right: 180px;
  }

  .logo {
    width: 130px;
  }

  .Nav-left {
    margin: 0px 10px;
  }

  .Nav__link {
    margin-left: 10px;
  }

  .Nav__img {
    width: 20px;
  }

  .Nav__title {
    display: none;
  }

  .Nav-right {
    margin-right: 200px;
  }

  .Nav__account {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .dropdown__item {
    display: none;
  }
}
