.Product__row {
  //   height: 600px;
  column-count: 3;
}

.Product__column {
  flex-direction: column;
  margin-bottom: 80px;
  width: 486px;
}

.Product__img {
  width: 100%;
  height: 400px;
}

.Product__description {
  font-family: "Josefin Sans", sans-serif;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: lighter;
  text-align: center;
}

.Product__price {
  font-size: 16px;
  font-weight: 200;
}

.to-cart {
  font-family: "Josefin Sans", sans-serif;
  width: 200px;
  height: 50px;
  background-color: #f9f3f5ff;
  color: #000;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 300;
}

.to-cart:hover {
  background-color: #000;
  color: #fff;
}

@media (width: 1920px) {
  .Product__column {
    width: 646px;
  }
  .Product__img {
    height: 535px;
  }
  .Product__description {
    font-size: 16px;
  }

  .Product__price {
    font-size: 18px;
  }

  .to-cart {
    width: 250px;
    height: 60px;

    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .Product__row {
    column-count: 1;
  }

  .Product__column {
    flex-direction: column;
    margin-bottom: 50px;
    width: 375px;
  }

  .Product__img {
    width: 100%;
    height: 320px;
  }

  .Product__description {
    font-size: 14px;
    letter-spacing: 3px;
  }

  .Product__price {
    font-size: 16px;
    font-weight: 200;
  }

  .to-cart {
    font-family: "Josefin Sans", sans-serif;
    width: 200px;
    height: 50px;
    background-color: #f9f3f5ff;
    color: #000;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 300;
  }

  .to-cart:hover {
    background-color: #000;
    color: #fff;
  }
}
